kind: Config
apiVersion: v1
current-context: kelda
preferences: {}

{{ with $e := .Env -}}
clusters:
- name: kelda-cluster
  cluster:
{{- with $u := parseUrl $e.K8S_SERVER }}
    server: {{ $u | printf "%q" }}
    {{- if eq $u.Scheme "https" }}
    certificate-authority-data: {{ $e.K8S_CA_DATA | printf "%q" }}
{{- end -}}{{- end }}

contexts:
- name: kelda
  context:
    user: {{ default $e.KELDA_USERNAME "kelda-user" }}
    cluster: kelda-cluster
    {{ if $e.K8S_NAMESPACE -}}
    namespace: {{ $e.K8S_NAMESPACE | printf "%q" }}
    {{- end }}

users:
- name: {{ default $e.KELDA_USERNAME "kelda-user" }}
  user:
    token: {{ $e.KELDA_USER_TOKEN | printf "%q"}}
{{- end }}
